<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.md.numberauth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 可选权限：用于获取 SIM 卡信息以提高取号成功率 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <!--
            阿里云号码认证 SDK 自带授权页 Activity。
            如果不需要使用窗口模式，不要使用 authsdk_activity_dialog 主题，会出现异常动画。
            如果需要使用窗口模式，screenOrientation 须为 behind，不能指定具体方向（8.0 不允许 dialog 指定 orientation）。
        -->
        <activity
            android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/authsdk_activity_dialog" />

        <activity
            android:name="com.mobile.auth.gatewayauth.PrivacyDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/authsdk_activity_dialog" />

        <activity
            android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
    </application>
</manifest>
